body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #020426;
    color: white;
    text-align: center;
}

.hidden { 
    display: none; 
}

.intro-screen video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#game { 
    margin-top: 30px; 
}

#question {
    font-size: 28px;
    margin-bottom: 20px;
}

#answers button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #0a3dd1;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
}

#answers button:hover {
    background: #092fab;
}

#timer {
    font-size: 40px;
    margin-top: 20px;
}
